body#vomimage{
    overflow:hidden;
    margin:0;
    padding:0;
}
button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    width: auto;
    overflow: visible;
}
#feed{
    position: fixed;
    width: 80px;
    height: 80px;
    z-index: 1000;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    padding 0 0 5px 0;
    color: white;
    background: #000;
    font-size: 40px;
}
#feed:hover{
    color: #eee;
    }
#feed:active{
    top: 50.2%;
    }
img{
    position: absolute;
}
p{
    position:fixed;
    right:15px;
    bottom:15px;
    font-family:arial;
    letter-spacing:1px;
    font-size:12px;
    margin:0;
}
a{
    color:black;
}